
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
.dark-mode {
    background-color: #121212;
    color: white;
}
header, footer {
    padding: 1em;
    background: #198754;
    color: white;
    text-align: center;
}
